version: '3.8'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_PASSWORD: example
      POSTGRES_USER: dev
      POSTGRES_DB: web_starter
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data
  adminer:
    image: adminer
    restart: always
    ports:
      - '8080:8080'
volumes:
  db-data:
